

<div class="album">
    <%= form_for(@album, url:'/albums') do |f| %>  
    <%= f.text_area :name, :placeholder => "New album name" %> <br>
    <%= f.submit "Create New Album", class: "btn-submit" %> 
<% end %>

<% @albums.each do |f| %>
	<% if f.user_id == current_user.id %>
			<h1><%= f.name %><h1>
					<%= link_to 'Remove Album', album_path(f.id),
            data: {confirm: 'Are you sure?'}, :method => :delete %>
					
					<%= link_to 'Update Album', album_path(f.id) %>
					<br><br><br>
			<% f.images.each do |i| %>
				<div class="thumbnail">
					<%= image_tag i.url, :alt => i.name %>
				</div>
			<% end %>

	<% end %>
<p>

<% end %>
</div>